


div.delivery
{


}

div.delivery   div  div.largebutton
{
  width: 15em;
}

div.delivery   div.group  div
{
  xwidth: 7em;
}

div.delivery   div div.name
{
  width: 10em;;
}

div.delivery   div  div.button
{
  width: 5em;
}

div.delivery   div  div.num
{
  width: 5em;
}

div.delivery   div  div.rgid
{
  width: 5em;
}

div.delivery   div.subgroup.row  div.name
{
  text-indent: 2em;
}





div.delivery   div.subgroup.row  div.num
{
  xwidth: 5em;
}

div.delivery   div.roadgroup.row
{
  xmargin-left: 5em;
}

div.delivery   div.roadgroup.row div.name
{
  xwidth: 15em;
  text-align:right;
}



 div.map
{
  width: 100%;
  height: 500px;
}


 div#wmapid
 {
   width: 100%;
   height: 500px;
 }
