

div.streetlist div.street.row.indent div.name
{
   width: 15em;
   margin-left: 3em;
}

div.streetlist div.street.row.indent div.PD
{
   width : 5em;
}


div#swmapid
{
  height : 500px;
}


div#streetedit div.form form div label {
  width: 10em;
  color: green;
  display: inline-block;
}

div#subwardedit div.form div label.required
{
  width: 10em;
  color: red;
  display: inline-block;
}

div#subwardedit div.form div label
{
  width: 10em;
  color: green;
  display: inline-block;
}


div#pollingdistrict  div.splitpage
{
  display:flex;
}

div#pollingdistrict  div.splitpage div.column1
{
  width:500px
}

div#pollingdistrict  div.splitpage div.column2
{
  width:500px
}

div#pollingdistrict  div.name.black
{
 color:black;
}

div#pollingdistrict  div.name.red
{
  color:red;
}
