




div.rggroup.row div.rggroupid
{
  width: 5em;

}

div.rggroup div.rgsubgroupid
{
  width: 5em;

}

div.rggroup div.name
{
  width: 224px;
}

div.rggroup.row div.num
{
  width: 5em;
}

div.street.row div.name
{
  width: 12em;
}

div.street.row div.pd
{
  width: 6em;
}




div#wmapid
{
  height : 500px;
}

div#swmapid
{
  height : 500px;
}


