

div#seat div.row div.row div.name
{
  max-width: 15em;
  width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#seat div.row.indent.id div.row
{
   margin-bottom: 5px;
}

div#seat div.pdpanel
{
  display:flex;
  flex-wrap:wrap;
}


div#seat div.pdrow
{
  font-size : 8pt;
  width : 24em;
}

div#seat div.pdrow div.rgid
{
  width : 6em;
}

div#seat div.pdrow div.bnum
{
  width : 4em;
}

div#seat div.pdrow div.button
{
  width : 4em;
}


div#swmapid
{
  width: 100%;
  height : 500px;
}

div#seat div.row.indent.id
{

  flex-wrap: nowrap;

}


div#seat div.row.indent.id div.id
{
   min-width : 8em;
}

