

#streetedit div.heading div.label
{
  color: green;
}

#streetedit div.heading.row div.countwarning
{
  font-size: 0.5em;
  color: red;
  width: 12em;
  margin-left: 2em;
}


#streetedit div.button.isactive
{
  visibility: hidden;
}


#streetedit div.button.right
{
  margin-left: auto;
}

#streetedit div div.formmap div.form
{
  min-width : 25em;
}


#streetedit div.form form div label.required
{
  width: 10em;
  color: red;
  display: inline-block;
}

#streetedit div.form form div label
{
  width: 10em;
  color: green;
  display: inline-block;
}

#streetedit div.formmap
{
  display: flex;
}

#streetedit div.map
{
 height: 400px;
 width: 100%;
}

input#street_form_Note
{
  width: 60em;
}

input#street_form_Path
{
  width: 6em;
  visibility: hidden;
}

#streetedit div.map div#stmapid
{
  height: 400px;
  width: 100%;
}

#streetedit div.map
{
  height: 400px;
  width: 100%;
}


#streetedit  div.branches
{
 color: green;

}


#streetedit  div.blabel
{
  width: 7em;

}



#streetedit   div.branches div.input
{
  width: 3em;
}






#myForm  form h1
{
  color:green;
  font-size:0.5em;
}

#myForm  form div
{
  color:blue;
  font-size:0.5em;
}

#myForm label.inline-label {
  white-space: nowrap;
  max-width: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  float:left;
}

