


 div.roadgroup div.roadgroupid
 {
   width:8em;
}

div.roadgroup div.name
{
  width: 14em;
}



div#mapid
{
  height : 400px;
}

div#swmapid
{
  height : 400px;
}

div#streetedit div.form form div label {
  width: 10em;
  color: green;
  display: inline-block;
}

div#subgroupedit div.form div label.required
{
  width: 10em;
  color: red;
  display: inline-block;
}

div#subgroupedit div.form div label
{
  width: 10em;
  color: green;
  display: inline-block;
}
