
{% block footer %}
    <div class="filler" ></div>
    <div class='footer' id='footer' >
        <div class="footerbody">
                <div class="texts" >
                    <div class="headertext1"> Developed by Paul Golder 2020</div>
                </div>
          </div>
     </div>
 {% endblock %}
