{# templates/header.html.twig #}

{% block myheader %}
    <div class='header  row'  >
     <div class="header1">Road Group Manager</div>
     <div class="button  right"> <a class="button" href = "/" >TOP</a> </div>
    </div>
    {% for message in app.flashes('notice') %}
             <div class="alert alert-notice">{{ message }}</div>
    {% endfor %}
 {% endblock %}
