{# templates/header.html.twig #}

{% block myheader %}
    <div class='header'  >
     <div class="header1">Road Group Manager</div>
    </div>
    {% for message in app.flashes('notice') %}
             <div class="alert alert-notice">{{ message }}</div>
    {% endfor %}
 {% endblock %}
