{# views/street/edit.html.twig #}

{% extends 'master.html.twig' %}


{% block middle %}
<div id="streetedit"  >
     <div class="heading  row" >
        <div class="label">{{' Main Menu' }}:</div>
      </div>

       <div  class="menu" >
         <div class="button  right"> <a class="button" href = "ward/showall" >All Wards</a> </div>
          <div class="button  right"> <a class="button" href = "roadgroup/showall" >Road Groups</a> </div>
           <div class="button  right"> <a class="button" href = "street/showall" >Streets</a> </div>
        </div>
</div>
{% endblock %}
