{# views/street/edit.html.twig #}

{% extends 'master.html.twig' %}


{% block middle %}
<div id="streetedit"  >
     <div class="heading  row" >
        <div class="label">{{' Main Menu' }}:</div>
      </div>

       <div  class="menu" >
        <div class="subheading">Browser</div>
         <div class="button  right"> <a class="button" href = "ward/showall" >All Wards</a> </div>
          <div class="button  right"> <a class="button" href = "roadgroup/showall" >Road Groups</a> </div>
           <div class="button  right"> <a class="button" href = "street/showall" >Streets</a> </div>
            <div class="subheading">Management Tools</div>
             <div class="button  right"> <a class="button" href = "ward/export" >Export XML</a> </div>
              <div class="button  right"> <a class="button" href = "ward/print" >Export PDF</a> </div>

        </div>
        <div/>
        <div>Some useful links</div>
         <div class="button  "> <a class="routebutton" href = "https://mapit.mysociety.org/area/2434.html"  target="_blank">Mapit Mysociety for administrative borders</a> </div>
           <div class="button  "> <a class="routebutton" href = " https://lichfielddc.maps.arcgis.com/apps/webappviewer/index.html?id=f15c49e001cd48239abf6571b5d3f68d"  target="_blank">LDC Polling District map</a> </div>

</div>
{% endblock %}
